In [1]:
import pandas as pd

### –î–∞–Ω–Ω—ã–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π 

user_info = pd.read_sql(
    """SELECT * FROM public.user_data""",

    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)
user_info.head()

   user_id  gender  age country               city  exp_group       os source
0      200       1   34  Russia          Degtyarsk          3  Android    ads
1      201       0   37  Russia             Abakan          0  Android    ads
2      202       1   17  Russia           Smolensk          4  Android    ads
3      203       0   18  Russia             Moscow          1      iOS    ads
4      204       0   36  Russia  Anzhero-Sudzhensk          3  Android    ads

In [2]:
posts_info = pd.read_sql(
    """SELECT * FROM public.post_text_df""",

    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)
posts_info.head()

   post_id                                               text     topic
0        1  UK economy facing major risks\n\nThe UK manufa...  business
1        2  Aids and climate top Davos agenda\n\nClimate c...  business
2        3  Asian quake hits European shares\n\nShares in ...  business
3        4  India power shares jump on debut\n\nShares in ...  business
4        5  Lacroix label bought by US firm\n\nLuxury good...  business

In [3]:
# 77 –º–∏–ª–ª–∏–æ–Ω–æ–≤ –∑–∞–ø–∏—Å–µ–π
count_feed_data = pd.read_sql(
    """SELECT count(*) FROM public.feed_data""",

    con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)

count_feed_data.head()

      count
0  76892800

In [4]:
feed_data = pd.read_sql(
    """SELECT * FROM public.feed_data LIMIT 5000000""",
    
     con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
        "postgres.lab.karpov.courses:6432/startml"
)

feed_data.head()

            timestamp  user_id  post_id action  target
0 2021-10-06 22:28:19    75106     2061   view       0
1 2021-10-06 22:29:29    75106     3598   view       0
2 2021-10-06 22:30:33    75106      685   view       0
3 2021-10-06 22:31:01    75106     5921   view       0
4 2021-10-06 22:32:42    75106     3110   view       0

In [5]:
feed_data[feed_data.action!='view']

                  timestamp  user_id  post_id action  target
10      2021-10-07 11:11:09    75106     4438   like       0
21      2021-10-07 11:25:26    75106     2888   like       0
23      2021-10-07 11:28:00    75106     4214   like       0
28      2021-10-07 11:32:57    75106     4834   like       0
50      2021-10-08 09:30:28    75106     4201   like       0
...                     ...      ...      ...    ...     ...
4999937 2021-11-29 17:56:31    68631      718   like       0
4999941 2021-11-29 18:01:29    68631     1780   like       0
4999948 2021-11-29 18:10:10    68631     1720   like       0
4999973 2021-12-04 15:25:21    68631      535   like       0
4999985 2021-12-04 15:41:26    68631      391   like       0

[529795 rows x 5 columns]

In [6]:
feed_data = feed_data[feed_data.action=='view']

feed_data.head()

            timestamp  user_id  post_id action  target
0 2021-10-06 22:28:19    75106     2061   view       0
1 2021-10-06 22:29:29    75106     3598   view       0
2 2021-10-06 22:30:33    75106      685   view       0
3 2021-10-06 22:31:01    75106     5921   view       0
4 2021-10-06 22:32:42    75106     3110   view       0

In [7]:
### –§–∏–∫—Å–∏—Ä–æ–≤–∞–Ω–Ω—ã–π –Ω–∞–±–ª–æ—Ä –ø—Ä–∏–∑–Ω–∞–∫–æ–≤ –ø–æ user_id
user_info

,user_id,gender,age,country,city,exp_group,os,source
0,200,1,34,Russia,Degtyarsk,3,Android,ads
1,201,0,37,Russia,Abakan,0,Android,ads
2,202,1,17,Russia,Smolensk,4,Android,ads
3,203,0,18,Russia,Moscow,1,iOS,ads
4,204,0,36,Russia,Anzhero-Sudzhensk,3,Android,ads
...,...,...,...,...,...,...,...,...
163200,168548,0,36,Russia,Kaliningrad,4,Android,organic
163201,168549,0,18,Russia,Tula,2,Android,organic
163202,168550,1,41,Russia,Yekaterinburg,4,Android,organic
163203,168551,0,38,Russia,Moscow,3,iOS,organic
163204,168552,1,16,Russia,Ivanteyevka,4,Android,organic

In [8]:
### –ü—Ä–∏–¥—É–º–∞–µ–º —ç–º–±–µ–¥–¥–∏–Ω–≥ –¥–ª—è post_id

posts_info

      post_id                                               text     topic
0           1  UK economy facing major risks\n\nThe UK manufa...  business
1           2  Aids and climate top Davos agenda\n\nClimate c...  business
2           3  Asian quake hits European shares\n\nShares in ...  business
3           4  India power shares jump on debut\n\nShares in ...  business
4           5  Lacroix label bought by US firm\n\nLuxury good...  business
...       ...                                                ...       ...
7018     7315  OK, I would not normally watch a Farrelly brot...     movie
7019     7316  I give this movie 2 stars purely because of it...     movie
7020     7317  I cant believe this film was allowed to be mad...     movie
7021     7318  The version I saw of this film was the Blockbu...     movie
7022     7319  Piece of subtle art. Maybe a masterpiece. Doub...     movie

[7023 rows x 3 columns]

In [9]:
import re
import string
import unicodedata
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer

wnl = WordNetLemmatizer()

### –ü—Ä–µ–ø—Ä–æ—Ü–µ—Å—Å–∏–Ω–≥

def preprocessing(line, token=wnl):
    line = line.lower()
    line = re.sub(r"[{}]".format(string.punctuation), " ", line)
    line = line.replace("\n\n", " ").replace("\n", " ")
    line = ' '.join([token.lemmatize(x) for x in line.split(' ')])
    return line

tfidf = TfidfVectorizer(
    stop_words='english',
    preprocessor=preprocessing
)

In [10]:
tfidf_data = (
    tfidf.fit_transform(posts_info['text']).toarray()
)

tfidf_data

C:\Users\nikul\anaconda3\Lib\site-packages\sklearn\feature_extraction\text.py:402: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['ha', 'le', 'wa'] not in stop_words.
  warnings.warn(

array([[0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.13273932, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.05061394, 0.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [11]:
tfidf_data = pd.DataFrame(
    tfidf_data,
    index = posts_info.post_id,
    columns=tfidf.get_feature_names_out()
)

tfidf_data

,00,000,0001,000bn,000m,000s,000th,001,001and,001st,...,ùì´ùìÆ,ùì´ùìÆùìΩùìΩùìÆùìª,ùì¨ùì∏ùìæùìªùìΩùìº,ùì±ùìÆùì™ùìªùì≤ùì∑ùì∞,ùì∂ùì™ùîÇ,ùìπùì±ùîÇùìºùì≤ùì¨ùì™ùìµ,ùìºùì∏ùì∏ùì∑ùìÆùìª,ùìºùìæùì´ùì∏ùìªùì≠ùì≤ùì∑ùì™ùìΩùìÆ,ùìΩùì±ùìÆ,ùìΩùì∏
post_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.132739,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.050614,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7315,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7316,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7317,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7318,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7319,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
### –ì–µ–Ω–µ—Ä–∞—Ü–∏—è —Ñ–∏—á–∏ –Ω–∞ –æ—Å–Ω–æ–≤–Ω–µ Tfidf

posts_info['TotalTfidf'] = tfidf_data.sum(axis=1).reset_index()[0]
posts_info['MaxTfidf'] = tfidf_data.max(axis=1).reset_index()[0]
posts_info['MeanTfidf'] = tfidf_data.mean(axis=1).reset_index()[0]

posts_info.head()

,post_id,text,topic,TotalTfidf,MaxTfidf,MeanTfidf
0,1,UK economy facing major risks\n\nThe UK manufa...,business,8.748129,0.495805,0.000190
1,2,Aids and climate top Davos agenda\n\nClimate c...,business,11.878472,0.308003,0.000258
2,3,Asian quake hits European shares\n\nShares in ...,business,12.675530,0.261799,0.000276
3,4,India power shares jump on debut\n\nShares in ...,business,6.622786,0.537713,0.000144
4,5,Lacroix label bought by US firm\n\nLuxury good...,business,6.352096,0.420251,0.000138

In [13]:
[f"DistanceTo{ith}thCluster" for ith in range(1, 16)]

['DistanceTo1thCluster',
 'DistanceTo2thCluster',
 'DistanceTo3thCluster',
 'DistanceTo4thCluster',
 'DistanceTo5thCluster',
 'DistanceTo6thCluster',
 'DistanceTo7thCluster',
 'DistanceTo8thCluster',
 'DistanceTo9thCluster',
 'DistanceTo10thCluster',
 'DistanceTo11thCluster',
 'DistanceTo12thCluster',
 'DistanceTo13thCluster',
 'DistanceTo14thCluster',
 'DistanceTo15thCluster']

In [14]:
### –ü—ã—Ç–∞–µ–º—Å—è –∫–ª–∞—Å—Ç–µ—Ä–∏–∑–∏—Ä–æ–≤–∞—Ç—å —Ç–µ–∫—Å—Ç—ã 

from sklearn.decomposition import PCA

centered = tfidf_data - tfidf_data.mean()

pca = PCA(n_components=20)
pca_decomp = pca.fit_transform(centered)

from sklearn.cluster import KMeans 

kmeans = KMeans(n_clusters=15, random_state=0).fit(pca_decomp)

posts_info['TextCluster'] = kmeans.labels_
dists_columns = ['DistanceTo1thCluster',
                 'DistanceTo2thCluster',
                 'DistanceTo3thCluster',
                 'DistanceTo4thCluster',
                 'DistanceTo5thCluster',
                 'DistanceTo6thCluster',
                 'DistanceTo7thCluster',
                 'DistanceTo8thCluster',
                 'DistanceTo9thCluster',
                 'DistanceTo10thCluster',
                 'DistanceTo11thCluster',
                 'DistanceTo12thCluster',
                 'DistanceTo13thCluster',
                 'DistanceTo14thCluster',
                 'DistanceTo15thCluster']

dists_df = pd.DataFrame(
    data = kmeans.transform(pca_decomp),
    columns=dists_columns
)

dists_df.head()

,DistanceTo1thCluster,DistanceTo2thCluster,DistanceTo3thCluster,DistanceTo4thCluster,DistanceTo5thCluster,DistanceTo6thCluster,DistanceTo7thCluster,DistanceTo8thCluster,DistanceTo9thCluster,DistanceTo10thCluster,DistanceTo11thCluster,DistanceTo12thCluster,DistanceTo13thCluster,DistanceTo14thCluster,DistanceTo15thCluster
0,0.498763,0.438866,0.478928,0.533634,0.274267,0.501817,0.549847,0.407473,0.441331,0.465443,0.444900,0.529236,0.505747,0.522130,0.437839
1,0.371631,0.291801,0.341899,0.277830,0.209640,0.375288,0.450040,0.173449,0.292427,0.329292,0.282600,0.414625,0.426678,0.413365,0.259837
2,0.397930,0.313296,0.362400,0.480566,0.097027,0.389489,0.484424,0.279320,0.315376,0.356818,0.326329,0.431981,0.427459,0.435588,0.309584
3,0.323621,0.256363,0.321060,0.432745,0.103342,0.352320,0.447335,0.200471,0.263464,0.299496,0.287838,0.385666,0.403035,0.399316,0.257896
4,0.294497,0.160849,0.260119,0.394337,0.174729,0.296027,0.405016,0.139676,0.179389,0.234276,0.219992,0.343986,0.352692,0.391472,0.182880

In [15]:
posts_info = pd.concat((posts_info, dists_df), axis=1)

posts_info.head()

,post_id,text,topic,TotalTfidf,MaxTfidf,MeanTfidf,TextCluster,DistanceTo1thCluster,DistanceTo2thCluster,DistanceTo3thCluster,...,DistanceTo6thCluster,DistanceTo7thCluster,DistanceTo8thCluster,DistanceTo9thCluster,DistanceTo10thCluster,DistanceTo11thCluster,DistanceTo12thCluster,DistanceTo13thCluster,DistanceTo14thCluster,DistanceTo15thCluster
0,1,UK economy facing major risks\n\nThe UK manufa...,business,8.748129,0.495805,0.000190,4,0.498763,0.438866,0.478928,...,0.501817,0.549847,0.407473,0.441331,0.465443,0.444900,0.529236,0.505747,0.522130,0.437839
1,2,Aids and climate top Davos agenda\n\nClimate c...,business,11.878472,0.308003,0.000258,7,0.371631,0.291801,0.341899,...,0.375288,0.450040,0.173449,0.292427,0.329292,0.282600,0.414625,0.426678,0.413365,0.259837
2,3,Asian quake hits European shares\n\nShares in ...,business,12.675530,0.261799,0.000276,4,0.397930,0.313296,0.362400,...,0.389489,0.484424,0.279320,0.315376,0.356818,0.326329,0.431981,0.427459,0.435588,0.309584
3,4,India power shares jump on debut\n\nShares in ...,business,6.622786,0.537713,0.000144,4,0.323621,0.256363,0.321060,...,0.352320,0.447335,0.200471,0.263464,0.299496,0.287838,0.385666,0.403035,0.399316,0.257896
4,5,Lacroix label bought by US firm\n\nLuxury good...,business,6.352096,0.420251,0.000138,7,0.294497,0.160849,0.260119,...,0.296027,0.405016,0.139676,0.179389,0.234276,0.219992,0.343986,0.352692,0.391472,0.182880

In [16]:
df = pd.merge(feed_data,
              posts_info,
              on='post_id',
              how='left')

df.head()

,timestamp,user_id,post_id,action,target,text,topic,TotalTfidf,MaxTfidf,MeanTfidf,...,DistanceTo6thCluster,DistanceTo7thCluster,DistanceTo8thCluster,DistanceTo9thCluster,DistanceTo10thCluster,DistanceTo11thCluster,DistanceTo12thCluster,DistanceTo13thCluster,DistanceTo14thCluster,DistanceTo15thCluster
0,2021-10-06 22:28:19,75106,2061,view,0,Spam e-mails tempt net shoppers\n\nComputer us...,tech,9.209704,0.562307,0.000200,...,0.501399,0.575248,0.357967,0.446605,0.471221,0.468062,0.535731,0.539659,0.514619,0.463544
1,2021-10-06 22:29:29,75106,3598,view,0,Together we make a difference üíöüïäÔ∏è\nWith the ge...,covid,3.175461,0.432053,0.000069,...,0.289203,0.416136,0.206734,0.164932,0.140198,0.218359,0.283761,0.340108,0.420281,0.243512
2,2021-10-06 22:30:33,75106,685,view,0,US afflicted with awards fatigue\n\nThe film w...,entertainment,12.946364,0.276067,0.000281,...,0.502587,0.189052,0.436137,0.446949,0.509137,0.470171,0.568516,0.551820,0.558759,0.439667
3,2021-10-06 22:31:01,75106,5921,view,0,Following the success of the (awful) Gilligans...,movie,9.395559,0.397973,0.000204,...,0.110518,0.392267,0.281720,0.158900,0.321637,0.294147,0.409135,0.399375,0.442200,0.275286
4,2021-10-06 22:32:42,75106,3110,view,0,.portland riot park had no covid rules. Rules ...,covid,3.111524,0.389931,0.000068,...,0.336343,0.443126,0.258143,0.239462,0.219780,0.291137,0.143504,0.400725,0.439255,0.302063

In [17]:
### –î–∞—Ç–∞—Ñ—Ä–µ–π–º —Å–æ –≤—Å–µ–º–∏ –Ω–æ–≤—ã–º–∏ —Ñ–∏—á–∞–º–∏

df = pd.merge(df,
              user_info,
              on='user_id',
              how='left')

df.head()

,timestamp,user_id,post_id,action,target,text,topic,TotalTfidf,MaxTfidf,MeanTfidf,...,DistanceTo13thCluster,DistanceTo14thCluster,DistanceTo15thCluster,gender,age,country,city,exp_group,os,source
0,2021-10-06 22:28:19,75106,2061,view,0,Spam e-mails tempt net shoppers\n\nComputer us...,tech,9.209704,0.562307,0.000200,...,0.539659,0.514619,0.463544,1,16,Russia,Voronezh,4,Android,ads
1,2021-10-06 22:29:29,75106,3598,view,0,Together we make a difference üíöüïäÔ∏è\nWith the ge...,covid,3.175461,0.432053,0.000069,...,0.340108,0.420281,0.243512,1,16,Russia,Voronezh,4,Android,ads
2,2021-10-06 22:30:33,75106,685,view,0,US afflicted with awards fatigue\n\nThe film w...,entertainment,12.946364,0.276067,0.000281,...,0.551820,0.558759,0.439667,1,16,Russia,Voronezh,4,Android,ads
3,2021-10-06 22:31:01,75106,5921,view,0,Following the success of the (awful) Gilligans...,movie,9.395559,0.397973,0.000204,...,0.399375,0.442200,0.275286,1,16,Russia,Voronezh,4,Android,ads
4,2021-10-06 22:32:42,75106,3110,view,0,.portland riot park had no covid rules. Rules ...,covid,3.111524,0.389931,0.000068,...,0.400725,0.439255,0.302063,1,16,Russia,Voronezh,4,Android,ads

In [18]:
df['hour'] = pd.to_datetime(df['timestamp']).apply(lambda x: x.hour)
df['month'] = pd.to_datetime(df['timestamp']).apply(lambda x: x.month)

df.head()

,timestamp,user_id,post_id,action,target,text,topic,TotalTfidf,MaxTfidf,MeanTfidf,...,DistanceTo15thCluster,gender,age,country,city,exp_group,os,source,hour,month
0,2021-10-06 22:28:19,75106,2061,view,0,Spam e-mails tempt net shoppers\n\nComputer us...,tech,9.209704,0.562307,0.000200,...,0.463544,1,16,Russia,Voronezh,4,Android,ads,22,10
1,2021-10-06 22:29:29,75106,3598,view,0,Together we make a difference üíöüïäÔ∏è\nWith the ge...,covid,3.175461,0.432053,0.000069,...,0.243512,1,16,Russia,Voronezh,4,Android,ads,22,10
2,2021-10-06 22:30:33,75106,685,view,0,US afflicted with awards fatigue\n\nThe film w...,entertainment,12.946364,0.276067,0.000281,...,0.439667,1,16,Russia,Voronezh,4,Android,ads,22,10
3,2021-10-06 22:31:01,75106,5921,view,0,Following the success of the (awful) Gilligans...,movie,9.395559,0.397973,0.000204,...,0.275286,1,16,Russia,Voronezh,4,Android,ads,22,10
4,2021-10-06 22:32:42,75106,3110,view,0,.portland riot park had no covid rules. Rules ...,covid,3.111524,0.389931,0.000068,...,0.302063,1,16,Russia,Voronezh,4,Android,ads,22,10

In [19]:
df = df.drop([
    # 'timestamp',
    'action',
    'text',
],
             axis = 1)

df = df.set_index(['user_id', 'post_id'])

df.head()

                          timestamp  target          topic  TotalTfidf  \
user_id post_id
75106   2061    2021-10-06 22:28:19       0           tech    9.209704
        3598    2021-10-06 22:29:29       0          covid    3.175461
        685     2021-10-06 22:30:33       0  entertainment   12.946364
        5921    2021-10-06 22:31:01       0          movie    9.395559
        3110    2021-10-06 22:32:42       0          covid    3.111524

                 MaxTfidf  MeanTfidf  TextCluster  DistanceTo1thCluster  \
user_id post_id
75106   2061     0.562307   0.000200            7              0.507963
        3598     0.432053   0.000069            1              0.252389
        685      0.276067   0.000281            6              0.552661
        5921     0.397973   0.000204            5              0.358579
        3110     0.389931   0.000068           11              0.302570

                 DistanceTo2thCluster  DistanceTo3thCluster  ...  \
user_id post_id                                              ...
75106   2061                 0.444204              0.481784  ...
        3598                 0.032238              0.256382  ...
        685                  0.490475              0.411906  ...
        5921                 0.266711              0.239152  ...
        3110                 0.159409              0.309820  ...

                 DistanceTo15thCluster  gender  age  country      city  \
user_id post_id
75106   2061                  0.463544       1   16   Russia  Voronezh
        3598                  0.243512       1   16   Russia  Voronezh
        685                   0.439667       1   16   Russia  Voronezh
        5921                  0.275286       1   16   Russia  Voronezh
        3110                  0.302063       1   16   Russia  Voronezh

                 exp_group       os  source  hour  month
user_id post_id
75106   2061             4  Android     ads    22     10
        3598             4  Android     ads    22     10
        685              4  Android     ads    22     10
        5921             4  Android     ads    22     10
        3110             4  Android     ads    22     10

[5 rows x 31 columns]

In [20]:
max(df.timestamp), min(df.timestamp)

(Timestamp('2021-12-29 23:39:35'), Timestamp('2021-10-01 06:06:44'))

In [21]:
# –ó–∞ –æ—Ç—Å–µ—á–∫—É –≤–æ–∑—å–º–µ–º 2021-12-15

df_train = df[df.timestamp < '2021-12-15']
df_test = df[df.timestamp >= '2021-12-15']

df_train = df_train.drop('timestamp', axis = 1)
df_test = df_test.drop('timestamp', axis=1)

X_train = df_train.drop('target', axis=1)
X_test = df_test.drop('target', axis=1)

y_train = df_train['target']
y_test = df_test['target']

y_train.shape, y_test.shape

((3732580,), (737625,))

In [22]:
X_train

                         topic  TotalTfidf  MaxTfidf  MeanTfidf  TextCluster  \
user_id post_id
75106   2061              tech    9.209704  0.562307   0.000200            7
        3598             covid    3.175461  0.432053   0.000069            1
        685      entertainment   12.946364  0.276067   0.000281            6
        5921             movie    9.395559  0.397973   0.000204            5
        3110             covid    3.111524  0.389931   0.000068           11
...                        ...         ...       ...        ...          ...
68631   5632             movie    7.227848  0.280075   0.000157            1
        3359             covid    3.509983  0.418316   0.000076            0
        3361             covid    3.265125  0.491853   0.000071            9
        3314             covid    3.634019  0.398439   0.000079           11
        5124             movie    6.594952  0.239079   0.000143            8

                 DistanceTo1thCluster  DistanceTo2thCluster  \
user_id post_id
75106   2061                 0.507963              0.444204
        3598                 0.252389              0.032238
        685                  0.552661              0.490475
        5921                 0.358579              0.266711
        3110                 0.302570              0.159409
...                               ...                   ...
68631   5632                 0.271691              0.106605
        3359                 0.079834              0.315965
        3361                 0.231357              0.166673
        3314                 0.359384              0.379549
        5124                 0.300867              0.161063

                 DistanceTo3thCluster  DistanceTo4thCluster  \
user_id post_id
75106   2061                 0.481784              0.567884
        3598                 0.256382              0.423852
        685                  0.411906              0.524848
        5921                 0.239152              0.463043
        3110                 0.309820              0.448538
...                               ...                   ...
68631   5632                 0.212162              0.397965
        3359                 0.409165              0.528934
        3361                 0.341350              0.479208
        3314                 0.479172              0.586302
        5124                 0.200507              0.417800

                 DistanceTo5thCluster  ...  DistanceTo15thCluster  gender  \
user_id post_id                        ...
75106   2061                 0.451066  ...               0.463544       1
        3598                 0.259322  ...               0.243512       1
        685                  0.474841  ...               0.439667       1
        5921                 0.324921  ...               0.275286       1
        3110                 0.307648  ...               0.302063       1
...                               ...  ...                    ...     ...
68631   5632                 0.222199  ...               0.172527       1
        3359                 0.399419  ...               0.389202       1
        3361                 0.341685  ...               0.334319       1
        3314                 0.470502  ...               0.464347       1
        5124                 0.264031  ...               0.214922       1

                 age  country      city  exp_group       os  source  hour  \
user_id post_id
75106   2061      16   Russia  Voronezh          4  Android     ads    22
        3598      16   Russia  Voronezh          4  Android     ads    22
        685       16   Russia  Voronezh          4  Android     ads    22
        5921      16   Russia  Voronezh          4  Android     ads    22
        3110      16   Russia  Voronezh          4  Android     ads    22
...              ...      ...       ...        ...      ...     ...   ...
68631   5632      23   Russia   Arzamas          0  Android     ads    15
        3359      23   Russia   Arzamas          0  Android     ads    15
        3361      23   Russia   Arzamas          0  Android     ads    15
        3314      23   Russia   Arzamas          0  Android     ads    16
        5124      23   Russia   Arzamas          0  Android     ads    16

                 month
user_id post_id
75106   2061        10
        3598        10
        685         10
        5921        10
        3110        10
...                ...
68631   5632        12
        3359        12
        3361        12
        3314        12
        5124        12

[3732580 rows x 29 columns]

In [56]:
from sklearn.compose import ColumnTransformer
from category_encoders import TargetEncoder
from category_encoders.one_hot import OneHotEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.pipeline import Pipeline
import pandas as pd

# –ü—Ä–æ–≤–µ—Ä—è–µ–º, —á—Ç–æ X_train –∏ y_train —è–≤–ª—è—é—Ç—Å—è DataFrame –∏ Series —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤–µ–Ω–Ω–æ
if isinstance(X_train, pd.Series):
    X_train = X_train.to_frame()
if isinstance(y_train, pd.DataFrame):
    y_train = y_train.squeeze()  # –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –≤ Series, –µ—Å–ª–∏ —ç—Ç–æ DataFrame

object_cols = [
    'topic', 'TextCluster', 'gender', 'country',
    'city', 'exp_group', 'hour', 'month',
    'os', 'source'
]

cols_for_ohe = [x for x in object_cols if X_train[x].nunique() < 5]
cols_for_mte = [x for x in object_cols if X_train[x].nunique() >= 5]

# –°–æ—Ö—Ä–∞–Ω–∏–º –∏–Ω–¥–µ–∫—Å—ã —ç—Ç–∏—Ö –∫–æ–ª–æ–Ω–æ–∫ 
cols_for_ohe_idx = [list(X_train.columns).index(col) for col in cols_for_ohe]
cols_for_mte_idx = [list(X_train.columns).index(col) for col in cols_for_mte]

# –ù–∞—Å—Ç—Ä–æ–π–∫–∞ ColumnTransformer
t = [
    ('OneHotEncoder', OneHotEncoder(), cols_for_ohe_idx),
    ('MeanTargetEncoder', TargetEncoder(), cols_for_mte_idx)
]

col_transform = ColumnTransformer(transformers=t, remainder='passthrough')

# –ù–∞—Å—Ç—Ä–æ–π–∫–∞ Pipeline
pipe_dt = Pipeline([
    ("column_transformer", col_transform),
    ("decision_tree", DecisionTreeClassifier())
])

# –û–±—É—á–µ–Ω–∏–µ –º–æ–¥–µ–ª–∏
pipe_dt.fit(X_train, y_train)

C:\Users\nikul\anaconda3\Lib\site-packages\category_encoders\target_encoder.py:92: FutureWarning: Default parameter min_samples_leaf will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  warnings.warn("Default parameter min_samples_leaf will change in version 2.6."
C:\Users\nikul\anaconda3\Lib\site-packages\category_encoders\target_encoder.py:97: FutureWarning: Default parameter smoothing will change in version 2.6.See https://github.com/scikit-learn-contrib/category_encoders/issues/327
  warnings.warn("Default parameter smoothing will change in version 2.6."
C:\Users\nikul\anaconda3\Lib\site-packages\sklearn\base.py:411: FutureWarning: The `_get_tags` method is deprecated in 1.6 and will be removed in 1.7. Please implement the `__sklearn_tags__` method.
  warnings.warn(
C:\Users\nikul\anaconda3\Lib\site-packages\sklearn\base.py:411: FutureWarning: The `_get_tags` method is deprecated in 1.6 and will be removed in 1.7. Please implement the `__sklearn_tags__` method.
  warnings.warn(
C:\Users\nikul\anaconda3\Lib\site-packages\category_encoders\ordinal.py:210: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X[column].fillna(-1, inplace=True)
C:\Users\nikul\anaconda3\Lib\site-packages\category_encoders\ordinal.py:210: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X[column].fillna(-1, inplace=True)

AttributeError: 'Series' object has no attribute 'iteritems'

In [58]:
from sklearn.metrics import roc_auc_score
from catboost import CatBoostClassifier

catboost = CatBoostClassifier(iterations=100,
                              learning_rate=1,
                              depth=2)

catboost.fit(X_train, y_train, object_cols)

0:	learn: 0.3566249	total: 1.03s	remaining: 1m 42s
1:	learn: 0.3488835	total: 1.89s	remaining: 1m 32s
2:	learn: 0.3469653	total: 2.65s	remaining: 1m 25s
3:	learn: 0.3461856	total: 3.46s	remaining: 1m 23s
4:	learn: 0.3455331	total: 4.18s	remaining: 1m 19s
5:	learn: 0.3453239	total: 4.97s	remaining: 1m 17s
6:	learn: 0.3452296	total: 5.7s	remaining: 1m 15s
7:	learn: 0.3448510	total: 6.37s	remaining: 1m 13s
8:	learn: 0.3448065	total: 7.08s	remaining: 1m 11s
9:	learn: 0.3447556	total: 7.72s	remaining: 1m 9s
10:	learn: 0.3442814	total: 8.4s	remaining: 1m 7s
11:	learn: 0.3438000	total: 9.07s	remaining: 1m 6s
12:	learn: 0.3433292	total: 9.73s	remaining: 1m 5s
13:	learn: 0.3431965	total: 10.7s	remaining: 1m 5s
14:	learn: 0.3430127	total: 12.5s	remaining: 1m 11s
15:	learn: 0.3427161	total: 14.2s	remaining: 1m 14s
16:	learn: 0.3426688	total: 16.1s	remaining: 1m 18s
17:	learn: 0.3426501	total: 17.8s	remaining: 1m 20s
18:	learn: 0.3425884	total: 19.8s	remaining: 1m 24s
19:	learn: 0.3422768	total: 21.6s	remaining: 1m 26s
20:	learn: 0.3422059	total: 23.4s	remaining: 1m 27s
21:	learn: 0.3420021	total: 25.3s	remaining: 1m 29s
22:	learn: 0.3419764	total: 26.7s	remaining: 1m 29s
23:	learn: 0.3419055	total: 28.3s	remaining: 1m 29s
24:	learn: 0.3418471	total: 30s	remaining: 1m 29s
25:	learn: 0.3415846	total: 31.7s	remaining: 1m 30s
26:	learn: 0.3415303	total: 33.3s	remaining: 1m 30s
27:	learn: 0.3415180	total: 35s	remaining: 1m 30s
28:	learn: 0.3415026	total: 37s	remaining: 1m 30s
29:	learn: 0.3413823	total: 38.9s	remaining: 1m 30s
30:	learn: 0.3413668	total: 40.6s	remaining: 1m 30s
31:	learn: 0.3413504	total: 41.9s	remaining: 1m 29s
32:	learn: 0.3413148	total: 43.5s	remaining: 1m 28s
33:	learn: 0.3412927	total: 45.1s	remaining: 1m 27s
34:	learn: 0.3411437	total: 46.8s	remaining: 1m 26s
35:	learn: 0.3411289	total: 48.6s	remaining: 1m 26s
36:	learn: 0.3411199	total: 50.3s	remaining: 1m 25s
37:	learn: 0.3411112	total: 52.1s	remaining: 1m 24s
38:	learn: 0.3410843	total: 53.8s	remaining: 1m 24s
39:	learn: 0.3410639	total: 55.7s	remaining: 1m 23s
40:	learn: 0.3410390	total: 56.9s	remaining: 1m 21s
41:	learn: 0.3409720	total: 58.8s	remaining: 1m 21s
42:	learn: 0.3408950	total: 1m	remaining: 1m 20s
43:	learn: 0.3408193	total: 1m 2s	remaining: 1m 19s
44:	learn: 0.3408029	total: 1m 4s	remaining: 1m 18s
45:	learn: 0.3407893	total: 1m 6s	remaining: 1m 18s
46:	learn: 0.3406719	total: 1m 8s	remaining: 1m 17s
47:	learn: 0.3406683	total: 1m 10s	remaining: 1m 16s
48:	learn: 0.3406439	total: 1m 13s	remaining: 1m 16s
49:	learn: 0.3406079	total: 1m 15s	remaining: 1m 15s
50:	learn: 0.3405892	total: 1m 17s	remaining: 1m 14s
51:	learn: 0.3405564	total: 1m 20s	remaining: 1m 13s
52:	learn: 0.3404907	total: 1m 22s	remaining: 1m 13s
53:	learn: 0.3404791	total: 1m 24s	remaining: 1m 12s
54:	learn: 0.3404637	total: 1m 26s	remaining: 1m 10s
55:	learn: 0.3404525	total: 1m 29s	remaining: 1m 9s
56:	learn: 0.3402093	total: 1m 31s	remaining: 1m 8s
57:	learn: 0.3401950	total: 1m 33s	remaining: 1m 7s
58:	learn: 0.3400489	total: 1m 35s	remaining: 1m 6s
59:	learn: 0.3400346	total: 1m 37s	remaining: 1m 5s
60:	learn: 0.3400165	total: 1m 40s	remaining: 1m 4s
61:	learn: 0.3399664	total: 1m 42s	remaining: 1m 2s
62:	learn: 0.3399565	total: 1m 44s	remaining: 1m 1s
63:	learn: 0.3398832	total: 1m 47s	remaining: 1m
64:	learn: 0.3398762	total: 1m 49s	remaining: 58.8s
65:	learn: 0.3398008	total: 1m 51s	remaining: 57.3s
66:	learn: 0.3397858	total: 1m 53s	remaining: 55.8s
67:	learn: 0.3397640	total: 1m 55s	remaining: 54.5s
68:	learn: 0.3397513	total: 1m 57s	remaining: 52.8s
69:	learn: 0.3397410	total: 1m 59s	remaining: 51.3s
70:	learn: 0.3396980	total: 2m 1s	remaining: 49.8s
71:	learn: 0.3396891	total: 2m 3s	remaining: 48.2s
72:	learn: 0.3396658	total: 2m 6s	remaining: 46.7s
73:	learn: 0.3396541	total: 2m 8s	remaining: 45.2s
74:	learn: 0.3396190	total: 2m 10s	remaining: 43.6s
75:	learn: 0.3395413	total: 2m 12s	remaining: 41.9s
76:	learn: 0.3395315	total: 2m 14s	remaining: 40.3s
77:	learn: 0.3395228	total: 2m 17s	remaining: 38.7s
78:	learn: 0.3395066	total: 2m 19s	remaining: 37.2s
79:	learn: 0.3394958	total: 2m 22s	remaining: 35.7s
80:	learn: 0.3394836	total: 2m 25s	remaining: 34s
81:	learn: 0.3394682	total: 2m 27s	remaining: 32.3s
82:	learn: 0.3394586	total: 2m 29s	remaining: 30.6s
83:	learn: 0.3394482	total: 2m 31s	remaining: 28.9s
84:	learn: 0.3394361	total: 2m 34s	remaining: 27.2s
85:	learn: 0.3394213	total: 2m 36s	remaining: 25.5s
86:	learn: 0.3393902	total: 2m 39s	remaining: 23.9s
87:	learn: 0.3393799	total: 2m 42s	remaining: 22.2s
88:	learn: 0.3393713	total: 2m 45s	remaining: 20.4s
89:	learn: 0.3393635	total: 2m 47s	remaining: 18.6s
90:	learn: 0.3393562	total: 2m 50s	remaining: 16.9s
91:	learn: 0.3393214	total: 2m 53s	remaining: 15.1s
92:	learn: 0.3393098	total: 2m 56s	remaining: 13.3s
93:	learn: 0.3392979	total: 2m 59s	remaining: 11.4s
94:	learn: 0.3392581	total: 3m 2s	remaining: 9.58s
95:	learn: 0.3392471	total: 3m 4s	remaining: 7.71s
96:	learn: 0.3392376	total: 3m 7s	remaining: 5.81s
97:	learn: 0.3392224	total: 3m 11s	remaining: 3.92s
98:	learn: 0.3391910	total: 3m 15s	remaining: 1.98s
99:	learn: 0.3391527	total: 3m 19s	remaining: 0us

In [62]:
### –ó–∞–º–µ—Ä–∏–º –∫–∞—á–µ—Å—Ç–≤–æ —Ä–∞–±–æ—Ç—ã –º–æ–¥–µ–ª–∏ 
### ROC-AUC

print(f'–ö–∞—á–µ—Å—Ç–≤–æ –Ω–∞ —Ç—Ä–µ–π–Ω–µ: {roc_auc_score(y_train, catboost.predict_proba(X_train)[:,1])}')
print(f'–ö–∞—á–µ—Å—Ç–≤–æ –Ω–∞ —Ç–µ—Å—Ç–µ: {roc_auc_score(y_test, catboost.predict_proba(X_test)[:,1])}')

–ö–∞—á–µ—Å—Ç–≤–æ –Ω–∞ —Ç—Ä–µ–π–Ω–µ: 0.6675232789298883
–ö–∞—á–µ—Å—Ç–≤–æ –Ω–∞ —Ç–µ—Å—Ç–µ: 0.6483367152138919

In [66]:
### –°–æ—Ö—Ä–∞–Ω—è–µ–º –º–æ–¥–µ–ª—å 

catboost.save_model(
    "catboost_model_new",
    format = "cbm"
)

In [74]:
# Write processed data to sql
posts_info.to_sql('nm_lesson_22_post', 
                  con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
                      "postgres.lab.karpov.courses:6432/startml", 
                  if_exists='replace', index=False)

23

In [76]:
test = pd.read_sql(
    """SELECT * FROM public.nm_lesson_22_post""",
     con="postgresql://robot-startml-ro:pheiph0hahj1Vaif@"
         "postgres.lab.karpov.courses:6432/startml"
)
test.head()

,post_id,text,topic,TotalTfidf,MaxTfidf,MeanTfidf,TextCluster,DistanceTo1thCluster,DistanceTo2thCluster,DistanceTo3thCluster,...,DistanceTo6thCluster,DistanceTo7thCluster,DistanceTo8thCluster,DistanceTo9thCluster,DistanceTo10thCluster,DistanceTo11thCluster,DistanceTo12thCluster,DistanceTo13thCluster,DistanceTo14thCluster,DistanceTo15thCluster
0,1,UK economy facing major risks\n\nThe UK manufa...,business,8.748129,0.495805,0.000190,4,0.498763,0.438866,0.478928,...,0.501817,0.549847,0.407473,0.441331,0.465443,0.444900,0.529236,0.505747,0.522130,0.437839
1,2,Aids and climate top Davos agenda\n\nClimate c...,business,11.878472,0.308003,0.000258,7,0.371631,0.291801,0.341899,...,0.375288,0.450040,0.173449,0.292427,0.329292,0.282600,0.414625,0.426678,0.413365,0.259837
2,3,Asian quake hits European shares\n\nShares in ...,business,12.675530,0.261799,0.000276,4,0.397930,0.313296,0.362400,...,0.389489,0.484424,0.279320,0.315376,0.356818,0.326329,0.431981,0.427459,0.435588,0.309584
3,4,India power shares jump on debut\n\nShares in ...,business,6.622786,0.537713,0.000144,4,0.323621,0.256363,0.321060,...,0.352320,0.447335,0.200471,0.263464,0.299496,0.287838,0.385666,0.403035,0.399316,0.257896
4,5,Lacroix label bought by US firm\n\nLuxury good...,business,6.352096,0.420251,0.000138,7,0.294497,0.160849,0.260119,...,0.296027,0.405016,0.139676,0.179389,0.234276,0.219992,0.343986,0.352692,0.391472,0.182880